* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Inter;
}

:root {
  --NeutralBlack: #1a1a1a;
  --Neutral_Offwhite: #f8f9fa;
  --NeutralGrey4-Text: #333333;
  --PrimaryBase: #c1e86e;
  --Primary200: #e0f4b7;
}
